.about-school {
  margin: 0;
  padding: 100px 20px  0 20px;

  background-image: url('../img/logo-about-school.svg');
  background-position: top right;
  background-repeat: no-repeat;
}

.about-school__heading {
  margin: 0;
  padding: 0;

  font-family: 'CenturaRoundBlack', sans-serif;
  font-size: 22px;
  line-height: calc(22px * 1.2);
}

.about-school__paragraph--small {
  width: 175px;
}

.about-school__paragraph {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  font-family: 'CenturaRound', sans-serif;
  font-size: 16px;
  line-height: calc(16px * 1.2);
}

@media (min-width: @tablet-width) {
  .about-school {
    margin: 0;
    padding: 165px 30px 150px 30px;

    background-image: url('../img/logo-about-school-tablet.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 170px;
  }

  .about-school__heading {
    font-size: 36px;
    line-height: calc(36px * 1.2);
  }

  .about-school__paragraph--small {
    width: 340px;
  }

  .about-school__paragraph {
    margin-top: 25px;
    width: 340px;

    font-size: 18px;
    line-height: calc(18px * 1.2);
  }
}

@media (min-width: @desktop-width) {
  .about-school {
    padding: 60px 105px 150px 105px;
    background-position-y: 80px;
  }

  .about-school__heading {
    margin-top: 87px;
  }

  .about-school__heading br {
    display: none;
  }

  .about-school__paragraph {
    margin-top: 25px;
    width: 660px;

    font-size: 24px;
    line-height: calc(24px * 1.2);
  }

  .about-school__paragraph--small {
    width: 420px;
  }
}
