.page-header {
  margin: 0;
  padding: 0;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__logo-wrapper {
  position: relative;
  width: 320px;

  // box-shadow: 0 1px 0 0 @price-card-2, 0 3px 0 0 @dark-red;
}

.page-header__logo-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -30px;
  width: 130px;
  height: 130px;

  background-image: url('../img/logo-transparent-red.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page-header__logo-image {
  display: block;
  width: 144px;
  height: 60px;

  margin: 0 auto;
  padding: 12px 0px 6px 0px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;

    // box-shadow: 0 1px 0 0 @price-card-2, 0 3px 0 0 @dark-red;
  }

  .page-header__wrapper {
    background-image: url('../img/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .page-header__logo-wrapper {
    padding: 0;
    margin: 0;
    width: auto;
    box-shadow: none;
  }

  .page-header__logo-image {
    width: 122px;
    height: 51px;

    padding-left: 113px;
  }

  .page-header__logo-wrapper::before {
    top: -30px;

    width: 150px;
    height: 150px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-right: 5%;
    box-sizing: border-box;

    box-shadow: none;
  }
}
